includes:
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-symfony/rules.neon
parameters:
    level: 2
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/Fixtures/App/var/
        - tests/Fixtures/App/config/
        - tests/Fixtures/fixtures/config/
