{% block cmf_routing_terms_form_type_row %}
{% spaceless %}
<label class="checkbox">
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label | trans(content_paths, translation_domain) | raw }}
</label>
{% endspaceless %}
{% endblock %}
